---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <header class="p-10">
    <div class="text-3xl">☕️</div>
  </header>
  <main class="p-10">
    <article class="mx-auto max-w-[600px]">
      <p>
        I am <span class="text-stone-300">Yuhanas</span>, a frontend engineer working at eFishery. Building apps with React ecosystem. Not a
        perfect person. Taught myself how to drink coffee, with milk and, sugar. Not a vim user, <s>yet</s>.
      </p>
    </article>

    <div class="mt-20 mx-auto max-w-[600px]">
      <div class="text-stone-300">Find me:</div>
      <div class="flex align-bottom gap-4">
        <p class="flex">
          <a class="text-sm peer" href="https://twitter.com/yuhanasyu">Twitter</a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentcolor"
            viewBox="0 0 256 256"
            class="peer-hover:text-stone-300"
            ><path d="M200,64V168a8,8,0,0,1-16,0V83.31L69.66,197.66a8,8,0,0,1-11.32-11.32L172.69,72H88a8,8,0,0,1,0-16H192A8,8,0,0,1,200,64Z"
            ></path></svg
          >
        </p>
        <p class="flex">
          <a class="text-sm peer" href="https://www.linkedin.com/in/yuhanas-yulianto-28474612a">LinkedIn</a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentcolor"
            viewBox="0 0 256 256"
            class="peer-hover:text-stone-300"
            ><path d="M200,64V168a8,8,0,0,1-16,0V83.31L69.66,197.66a8,8,0,0,1-11.32-11.32L172.69,72H88a8,8,0,0,1,0-16H192A8,8,0,0,1,200,64Z"
            ></path></svg
          >
        </p>
        <p class="flex">
          <a class="text-sm peer" href="https://github.com/yuhanasy">Github</a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentcolor"
            viewBox="0 0 256 256"
            class="peer-hover:text-stone-300"
            ><path d="M200,64V168a8,8,0,0,1-16,0V83.31L69.66,197.66a8,8,0,0,1-11.32-11.32L172.69,72H88a8,8,0,0,1,0-16H192A8,8,0,0,1,200,64Z"
            ></path></svg
          >
        </p>
      </div>
    </div>
  </main>
</BaseLayout>
