---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main>
    <div class="px-4 py-8 sm:p-10">
      <div class="font-semibold text-5xl sm:text-8xl text-emerald-500 tracking-tight">
        HUMAN
        <br />
        SOFTWARE
        <br />
        ENGINEER
      </div>
    </div>

    <div class="flex justify-between p-2 sm:p-4 border-b border-white/10 font-mono tracking-wider text-xs sm:text-sm text-zinc-300">
      <div>INDONESIA-BASED</div>
      <div></div>
      <div>REMOTE-FRIENDLY</div>
    </div>

    <div class="flex flex-col gap-2 items-center p-6">
      <p class="text-3xl sm:text-xl max-w-[600px]">crafting websites that put human experience in mind</p>
      <p class="text-3xl sm:text-xl max-w-[600px]">exploring web technologies, interfaces, and interactions</p>
      <p class="text-3xl sm:text-xl max-w-[600px]">documenting my journey by writing articles</p>
    </div>
    <div class="mx-auto w-0 h-40 border-r border-white/10"></div>

    <div class="py-10 mx-auto max-w-[600px] border border-b-0 border-white/10">
      <div class="text-zinc-300 text-center text-2xl">Find me:</div>
      <div class="flex justify-center align-bottom gap-x-4 flex-wrap">
        <a class="flex px-3 py-2" href="https://twitter.com/yuhanasyu">
          <span class="text-lg hover:text-zinc-100 peer">Twitter</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentcolor"
            viewBox="0 0 256 256"
            class="peer-hover:text-emerald-500"
            ><path d="M200,64V168a8,8,0,0,1-16,0V83.31L69.66,197.66a8,8,0,0,1-11.32-11.32L172.69,72H88a8,8,0,0,1,0-16H192A8,8,0,0,1,200,64Z"
            ></path></svg
          >
        </a>
        <a class="flex px-3 py-2" href="https://www.linkedin.com/in/yuhanas-yulianto-28474612a">
          <span class="text-lg hover:text-zinc-100 peer">LinkedIn</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentcolor"
            viewBox="0 0 256 256"
            class="peer-hover:text-emerald-500"
            ><path d="M200,64V168a8,8,0,0,1-16,0V83.31L69.66,197.66a8,8,0,0,1-11.32-11.32L172.69,72H88a8,8,0,0,1,0-16H192A8,8,0,0,1,200,64Z"
            ></path></svg
          >
        </a>
        <a class="flex px-3 py-2" href="https://github.com/yuhanasy">
          <span class="text-lg hover:text-zinc-100 peer">Github</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentcolor"
            viewBox="0 0 256 256"
            class="peer-hover:text-emerald-500"
            ><path d="M200,64V168a8,8,0,0,1-16,0V83.31L69.66,197.66a8,8,0,0,1-11.32-11.32L172.69,72H88a8,8,0,0,1,0-16H192A8,8,0,0,1,200,64Z"
            ></path></svg
          >
        </a>
      </div>
    </div>

    <div class="flex justify-center items-center gap-2 p-4 border-y border-white/10">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="fill-emerald-500" viewBox="0 0 256 256"
        ><path
          d="M215.79,118.17a8,8,0,0,0-5-5.66L153.18,90.9l14.66-73.33a8,8,0,0,0-13.69-7l-112,120a8,8,0,0,0,3,13l57.63,21.61L88.16,238.43a8,8,0,0,0,13.69,7l112-120A8,8,0,0,0,215.79,118.17ZM109.37,214l10.47-52.38a8,8,0,0,0-5-9.06L62,132.71l84.62-90.66L136.16,94.43a8,8,0,0,0,5,9.06l52.8,19.8Z"
        ></path></svg
      >
      <span class="text-sm">2023 Yuhanas Yulianto</span>
    </div>
  </main>
</BaseLayout>
